<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Random Number Generator</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">    
    </head>
    <body>
        <div>
            <h3>Random Word (attempt #{{request.session.attempts}}) </h3>
            <p>{{randnum}}</p>
            <a href = "/"> <button> Generate a new string</button></a>
            <a href = "/reset"><button> Reset</button></a>
        </div>
    </body>


